body {
	margin: 0;
}

.header {
	background-color: white;
	height: 75px;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}
		 	
.nameWrapper {
	background-color: white;
	width: 75%;
	margin: auto;
	padding-right: 40px;
}

.name {
	background-color: #4aaaa5;
	color: white;
	width: 40%;
	float: left;
	text-align: center;
	margin-top: 6px;
}
	

.profile {
	/*float left all the text to flow to the right of the image*/
	float: left;
	margin: 0px 20px 10px 0px;
	height:250px;
	width:200px;
}

.navlinks {
	background-color: white;
	width: 80%;
	margin: auto;
	text-align: center;
	
}

/*This following section styles nav links in global header to be inline*/
.headerLink {
	list-style-type: none;
}

/*This following section styles nav links in global header to have pipe dividers*/
li {
	display: inline;
	border-right: 1px #d1d2d3; padding: 0 1em;
}

/*This following section removes the pipe divdier from far right nav links in global header*/
ul li:last-child { 
	border: 0; 
}

/*This following section styles font color nav links in global header and removes underline*/
li a {
	text-decoration: none;
	color: #d1d2d3;
	font-family: Arial;
}


.bodyBackground {
	background-image:url("../images/cork-wallet.png");
	min-height: 600px;
	clear: both;
	padding-top: 20px;
}

.row-1 {
	margin: auto;
	background-color: pink;
}

.col-1 {
	background-color: green;
	width: 60%;
	float: left;
}



.box1 {
	background-color: white;
	width: 75%;
	margin: auto;
	padding: 20px 20px;
}		

.head-col-2 {
	background-color: yellow;
	width: 40%;
	margin-top: 20px;
	float: left;
	text-align: center;
	display: inline-block;
}

.col-2 {
	background-color: yellow;
	width: 40%;
	float: left;
	text-align: center;
	display: inline-block;
}

.box2 {
	background-color: white;
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: center;
	display: inline-block;
}		

.row-3 {
	width: 100%;
}

.col-4 {
	width: 33%;
	float: left;
}

.col-5 {
	width: 33%;
	float: left;
}

.col-6 {
	width: 33%;
	float: left;
}

h2 {
	color: #4aaaa5;
	font: Arial;
}

.linkGroup {
	height: 50px;
	margin: auto;
	text-align: justify;
}

.social {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

.footer {
	width: 100%;
	background-color: #666666;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 4px;
	display: flex;
	justify-content: center;
	height: 90px;
	clear: both;
	
}

.footerContent {
	color: #777777;
	margin: auto;
	font-family: Arial;
}

@media screen and (max-width: 980px) {


body {
	margin: 0;
}

.header {
	background-color: white;
	height: 75px;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}
		 	
.nameWrapper {
	background-color: white;
	width: 75%;
	margin: auto;
	padding-right: 40px;
}

.name {
	background-color: #4aaaa5;
	color: white;
	width: 40%;
	float: left;
	text-align: center;
	margin-top: 6px;
}
	

.profile {
	/*float left all the text to flow to the right of the image*/
	clear: both;
	margin: 0px 20px 10px 0px;
	height:250px;
	width:200px;
}

.navlinks {
	background-color: white;
	width: 80%;
	margin: auto;
	text-align: center;
	
}

/*This following section styles nav links in global header to be inline*/
.headerLink {
	list-style-type: none;
}

/*This following section styles nav links in global header to have pipe dividers*/
li {
	display: inline;
	border-right: 1px #d1d2d3; padding: 0 1em;
}

/*This following section removes the pipe divdier from far right nav links in global header*/
ul li:last-child { 
	border: 0; 
}

/*This following section styles font color nav links in global header and removes underline*/
li a {
	text-decoration: none;
	color: #d1d2d3;
	font-family: Arial;
}


.bodyBackground {
	background-image:url("../images/cork-wallet.png");
	min-height: 600px;
	clear: both;
	padding-top: 20px;
}

.row-1 {
	margin: auto;
	background-color: pink;
}

.col-1 {
	background-color: green;
	width: 60%;
	float: left;
}



.box1 {
	background-color: white;
	width: 75%;
	margin: auto;
	padding: 20px 20px;
}		

}

.head-col-2 {
	background-color: yellow;
	width: 40%;
	margin-top: 20px;
	float: left;
	text-align: center;
	display: inline-block;
}

.col-2 {
	background-color: yellow;
	width: 40%;
	float: left;
	text-align: center;
	display: inline-block;
}

.box2 {
	background-color: white;
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: center;
	display: inline-block;
}		

.row-3 {
	width: 100%;
}

.col-4 {
	width: 33%;
	float: left;
}

.col-5 {
	width: 33%;
	float: left;
}

.col-6 {
	width: 33%;
	float: left;
}

h2 {
	color: #4aaaa5;
	font: Arial;
}

.linkGroup {
	height: 50px;
	margin: auto;
	text-align: justify;
}

.social {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

.footer {
	width: 100%;
	background-color: #666666;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 4px;
	display: flex;
	justify-content: center;
	height: 90px;
	clear: both;
	
}

.footerContent {
	color: #777777;
	margin: auto;
	font-family: Arial;
}

}	


@media screen and (max-width: 768px) {


	.header {
		background-color: blue;
		width: 100%;
		height: 100px;
	}
	
	.name {
		background-color: grey;
		width: 50%;
		float: left;
		}
	
	.navlinks {
		background-color: purple;
		width: 50%;
		float: left;

	}	 	
		
	.wrapper {
		background-color: brown;
		min-height: 400px;
	}

	.col-1 {
		background-color: green;
		width: 60%;
	}
			

	.col-2 {
		background-color: yellow;
		width: 40%
	}


	.col-3 {
		background-color: red;
		width: 100%
	}

}


@media screen and (max-width: 640px) {
	
	.header {
		background-color: blue;
		width: 100%;
		height: 100px;
	}

	.name {
		background-color: grey;
		width: 100%;
	}
	
	.navlinks {
		background-color: purple;
		width: 100%;
	}	 	
		
	.wrapper {
		background-color: brown;
		min-height: 400px;
	}

	.col-1 {
		background-color: green;
		width: 100%;
	}
			


	.col-2 {
		background-color: yellow;
		width: 100%
	}


	.col-3 {
		background-color: red;
		width: 100%
	}

}